header #nav-icon {
  display: block;
  width: 25px;
  height: 20px;
  position: absolute;
  top: 15px;
  right: 35px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  z-index: 1002;
}
header #nav-icon:before {
  content: "";
  display: block;
  width: 45px;
  height: 45px;
  position: absolute;
  border-radius: 60px;
  top: -12px;
  left: -10px;
  background: #c19ac4;
}
header #nav-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #fff;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0s ease-in-out;
  transition: 0s ease-in-out;
}
header #nav-icon span:nth-child(1) {
  top: 0px;
}
header #nav-icon span:nth-child(2) {
  top: 8px;
}
header #nav-icon span:nth-child(3) {
  top: 8px;
}
header #nav-icon span:nth-child(4) {
  top: 16px;
}
header #nav-icon.open span:nth-child(1) {
  top: 8px;
  width: 0%;
  left: 50%;
}
header #nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
header #nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
header #nav-icon.open span:nth-child(4) {
  top: 8px;
  width: 0%;
  left: 50%;
}
header #nav-icon.open span {
  background: #333;
}
header #navbar {
  width: 767px;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: -767px;
  z-index: 1001;
  padding: 20px 0 50px 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
header #navbar.open {
  right: 0;
}
header #navbar .nav {
  display: block;
}
header #navbar .nav .nav_item a {
  font-family: "OpenSans", "Arial", "sans-serif";
  font-size: 20px;
  color: #000;
  text-decoration: none;
  padding: 7px 0;
  display: inline-block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header #navbar .nav .nav_item a:before {
  content: '';
  display: inline-block;
  width: 00px;
  height: 2px;
  background-color: #9b529b;
  margin-bottom: 5px;
  margin-right: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header #navbar .nav .nav_item a:hover {
  color: #9b529b;
  background: #fff;
}
header #navbar .nav .nav_item a:hover:before {
  width: 30px;
}
header #navbar hr {
  margin: 30px 0;
}
header #navbar .contact .tell {
  text-align: right;
  display: inline-block;
  padding-left: 40px;
  margin-right: 20px;
  position: relative;
}
header #navbar .contact .tell:before {
  content: '';
  display: inline-block;
  width: 36px;
  height: 36px;
  background-image: url('../img/phone.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 0px;
  margin-top: -18px;
}
header #navbar .contact .tell .tell_item {
  display: block;
  font-family: "OpenSans", "Arial", "sans-serif";
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 5px;
}
header #navbar .contact .tell .callback {
  display: block;
  font-family: "OpenSans", "Arial", "sans-serif";
  color: #9b529b;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
}
header #navbar .contact .tell .callback:hover {
  text-decoration: underline;
}
header #navbar .contact .duration {
  color: #fff;
  font-family: "OpenSans", "Arial", "sans-serif";
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 1.2;
  position: relative;
  padding-left: 65px;
}
header #navbar .contact .duration:before {
  content: '';
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url('../img/calendar-with-a-clock-time-tools.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -25px;
}
header #navbar .contact .place {
  color: #fff;
  font-family: "OpenSans", "Arial", "sans-serif";
  font-size: 18px;
  line-height: 1.2;
  position: relative;
  padding-left: 65px;
  max-width: 400px;
}
header #navbar .contact .place:before {
  content: '';
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url('../img/maps-and-flags.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -25px;
}
header #navbar .soc {
  font-family: "OpenSans", "Arial", "sans-serif";
  padding-left: 40px;
  position: relative;
  display: inline-block;
}
header #navbar .soc .call {
  display: block;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: -0.2px;
  line-height: 1.5;
}
header #navbar .soc .text {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 1.92px;
  position: relative;
  padding-left: 12px;
}
header #navbar .soc .viber, header #navbar .soc .whatsapp {
  width: 32px;
  height: 32px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  left: 0px;
  -webkit-transition: 0s;
  transition: 0s;
}
header #navbar .soc .viber {
  background-image: url('../img/viber.svg');
  top: 0;
}
header #navbar .soc .viber:hover {
  z-index: 10;
}
header #navbar .soc .whatsapp {
  background-image: url('../img/whatsapp.svg');
  top: 24px;
}
header #navbar .soc .whatsapp:hover {
  z-index: 10;
}
header #nav-icon {
  display: none;
}

@media (max-width: 767px) {
.wrap-fx {
  display: block;
  text-align: center;
}
.wrap-fx #nav-icon {
}
header #nav-icon {
  display: block;
  display: block;
  /* top: 300px; */
  right: auto;
  position: relative;
  margin: 0 auto;
  transition: 0s;
}
header #nav-icon.open {
  right: 25px;
  left: auto;
  top: 25px;
  position: fixed;
  transition: 0.4s;
}
.wrap-fx {
  height: 80px;
}
header #nav-icon.open:before {
  display: none;
}
header #navbar {
  width: 100%;
  padding-right: 10px;
  overflow-x: scroll;
}
nav.service {
  display: none;
}
}

@media (min-width: 768px) {
header #navbar {
  display: none !important;
}
html {
  overflow: visible !important;
}
}
header #navbar .menu-list p {
  color: #000;
  text-transform: uppercase;
  padding-top: 10px;
  padding-left: 20px;
  border-top: 2px solid rgba(255,255,255,.2);
  font-size: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
  font-weight: bold;
}
/*================*/

.header__calculate-cost, .header__diler-info {
  display: none;
}
.header__diler-container {
  margin-top: 20px;
}
.b-nav {
  display: none !important;
}

@media (min-width: 768px) {
.b-nav {
  display: block !important;
}
.header__calculate-cost, .header__diler-info {
  display: block;
}
.header__diler-container {
  margin-top: 0px;
}
}
header {
  background: none !important;
}
.header__call-back-link {
  font-weight: bold;
}
.header__call-back-link:hover {
  color: #fff;
}
header.header {
  border-bottom: 3px solid #9b529b;
}
/*================================*/
/*================================*/
/*================================*/
/*================================*/
/*================================*/
/*================================*/
/*================================*/
/*================================*/
/*================================*/
/*================================*/
/*================================*/
/*================================*/
/*================================*/
/*================================*/
/*================================*/
/*================================*/
/*================================*/
/*================================*/
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
.wrapper {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 768px) {
.wrapper {
  width: 768px;
  padding-left: 15px;
  padding-right: 15px;
}
.wrapper--formobile {
  width: auto;
}
}

@media (min-width: 1200px) {
.wrapper {
  width: 1200px;
  padding-left: 30px;
  padding-right: 30px;
}
}
.header {
  background-color: #f2f2f2;
}
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.header__calculate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.header__logo-container {
  -ms-flex-item-align: center;
  align-self: center;
  padding-top: 20px;
  padding-bottom: 5px;
  padding-bottom: 20px;
}
.header__logo-container img {
  display: block;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}
.header__subtitle {
  padding: 0;
  margin: 0;
  color: "Helvetica Neue", "Arial", "sans-serif";
  color: #777777;
  padding-top: 5px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.header__call-back {
  background-color: #ffffff;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 5px;
  border: 2px solid #adadac;
  position: relative;
  margin-bottom: 40px;
}
.header__call-link:nth-child(2) {
  color: #747474;
}
.header__call-link {
  color: #2a2a28;
  text-align: center;
  font-size: 19px;
  font-weight: 400;
  font-family: "Helvetica Neue", "Arial", "sans-serif";
  text-decoration: none;
  padding-top: 5px;
}
.header__call-back-link {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 162px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c19ac4;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: -22px;
  border: 1px solid #adadac;
  font-family: "Helvetica Neue", "Arial", "sans-serif";
  font-size: 12px;
}
.header__call-back-link:hover {
  background-color: #8b4291;
}
.header__calculation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 30px;
}
.header__calculate-cost {
  -ms-flex-item-align: center;
  align-self: center;
  font-family: "Helvetica Neue", "Arial", "sans-serif";
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 210px;
  padding-left: 70px;
  padding-right: 30px;
  text-align: center;
  position: relative;
  font-weight: 600;
  color: #8b4291;
  margin-bottom: 10px;
}
.header__calculate-cost::before {
  content: "";
  position: absolute;
  width: 68px;
  height: 60px;
  background: url("https://gedeon-ekb.ru/templates/gedeon/img/icons-e2.png") no-repeat left -100px;
  left: 0;
  top: -5px;
}
.header__calculate-gager {
  -ms-flex-item-align: center;
  align-self: center;
  font-family: "Helvetica Neue", "Arial", "sans-serif";
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 210px;
  padding-left: 70px;
  padding-right: 30px;
  text-align: center;
  position: relative;
  color: #ffffff;
  text-decoration: none;
  background: url("https://gedeon-ekb.ru/templates/gedeon/img/icons-e2.png") no-repeat -9px -303px;
}
.header__info-diller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.header__diler-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 210px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 10px;
}
.header__diler-text {
  font-family: "Helvetica Neue", "Arial", "sans-serif";
  font-size: 12px;
  line-height: 18px;
  color: #a02311;
  text-align: center;
}
.header__diler-phone {
  font-family: "Helvetica Neue", "Arial", "sans-serif";
  color: #333333;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
}
.header__diler-info {
  -ms-flex-item-align: center;
  align-self: center;
  font-family: "Helvetica Neue", "Arial", "sans-serif";
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 210px;
  padding-left: 70px;
  padding-right: 30px;
  text-align: center;
  position: relative;
  font-weight: 600;
  color: #a02311;
  margin-bottom: 10px;
}
.header__diler-info::before {
  content: "";
  position: absolute;
  width: 68px;
  height: 60px;
  background: url("https://gedeon-ekb.ru/templates/gedeon/img/icons-e.png") no-repeat left -200px;
  left: 0;
  top: -5px;
}

@media (min-width: 768px) {
.header__top {
  padding-top: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.header__logo-container {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  padding: 0;
  width: 250px;
}
.header__logo-container img {
  width: 200px;
}
.header__subtitle {
  text-align: center;
}
.header__calculation {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 20px;
}
.header__calculate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__calculate-cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 0;
}
.header__call-back {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  margin-right: 0;
  margin-left: 0;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 30px;
}
.header__info-diller {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.header__calculate-cost {
  width: 170px;
}
.header__calculate-gager {
  width: 204px;
}
.header__info-diller {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 360px;
}
.header__diler-container {
  width: 180px;
  padding: 0;
  margin: 0;
  padding-top: 10px;
}
.header__diler-info {
  width: 180px;
}
}

@media (min-width: 1200px) {
.header__top {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-top: 10px;
  padding-bottom: 20px;
}
.header__logo-container {
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}
.header__call-back {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  margin: 0;
  margin-bottom: 10px;
}
.header__calculation {
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  width: 630px;
  padding-top: 0;
  margin-bottom: 0;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.header__info-diller {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: auto;
}
.header__diler-info {
  margin: 0;
}
.header__calculate-cost {
  width: 210px;
  text-align: left;
  padding-left: 80px;
  padding-right: 20px;
}
.header__diler-container {
  padding-top: 0;
}
.header__diler-text {
  text-align: right;
}
.header__diler-phone {
  text-align: right;
  padding-bottom: 10px;
}
.header__diler-info {
  width: 210px;
  padding-left: 80px;
  text-align: left;
  padding-right: 20px;
}
}
.slider--oldpeople {
  background-image: url("../img/old-slider.png");
  background-repeat: no-repeat;
  background-position: top center;
}
.slide {
  padding-top: 20px;
  padding-bottom: 20px;
}
.slide--oldpeople {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.slide--oldpeople .slide__part--text {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
  position: relative;
  z-index: 2;
}
.slide--oldpeople .slide__part--img {
  margin-bottom: 30px;
  position: absolute;
  bottom: 0;
  z-index: 1;
  opacity: 0.4;
  left: 0;
}
.slide--oldpeople .slide__photo-right {
  display: none;
}
.slide--oldpeople .slide__btn-container {
  position: relative;
  z-index: 2;
}
.slide--oldpeople .slide__title {
  color: #F50000;
  padding-bottom: 5px;
}
.slide--oldpeople .slide__title-sale {
  font-size: 30px;
}
.slide__part {
  margin-bottom: 30px;
}
.slide__part--redblock {
  border: 2px solid #F50000;
  background-color: #ffffff;
  padding-bottom: 20px;
  width: 262px;
  margin-left: auto;
  margin-right: auto;
}
.slide__photo {
  width: 300px;
}
.slide__part-text {
  padding: 15px 0 0 0;
  margin: 0;
  font-family: "Helvetica Neue", "Arial", "sans-serif";
  font-size: 100px;
  line-height: 1.2;
  font-weight: 600;
  color: #F50000;
  text-align: center;
}
.slide__subtitle {
  font-family: "Helvetica Neue", "Arial", "sans-serif";
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  color: #F50000;
  text-align: center;
  display: block;
}
.slide__title {
  font-family: "Helvetica Neue", "Arial", "sans-serif";
  font-size: 22px;
  padding: 0;
  margin: 0;
  text-align: center;
  padding-bottom: 20px;
}
.slide__title-dec {
  color: #F50000;
  text-transform: uppercase;
}
.slide__promo-deskription {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Arial", "sans-serif";
  color: #000000;
  font-size: 16px;
  text-align: left;
}
.slide__promo-subtext {
  padding: 10px;
  position: relative;
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.62)), to(rgba(255, 255, 255, 0))), rgba(193, 158, 112, 0.24);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.62) 0%, rgba(255, 255, 255, 0) 100%), rgba(193, 158, 112, 0.24);
  font-size: 12px;
}
.slide__promo-subtext span {
  display: block;
  opacity: 0.8;
}
.slide__btn-container {
  text-align: center;
}
.slide__btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#EA3737), to(#D00E0E)), #F50000;
  background: linear-gradient(180deg, #EA3737 0%, #D00E0E 100%), #F50000;
  border-radius: 5px;
  color: #ffffff;
  font-family: "Helvetica Neue", "Arial", "sans-serif";
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  display: inline-block;
  padding: 10px 55px;
  vertical-align: middle;
  opacity: 0.8;
  margin-top: -20px;
}
.slide__btn:hover {
  opacity: 1;
}

@media (min-width: 768px) {
.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative;
}
.slide__part {
  width: 300px;
}
.slide__part--redblock {
  width: 260px;
  margin-left: 0;
  margin-right: 0;
}
.slide__part--img {
  width: 300px;
  -webkit-transform: rotate(6deg);
  transform: rotate(6deg);
  position: absolute;
  left: -20px;
  top: 122px;
}
.slide__part--text {
  width: 400px;
}
.slide__part-text {
  font-size: 60px;
}
.slide__btn-container {
  margin-top: 60px;
  margin-right: 100px;
  margin-left: auto;
}
.slide__title {
  font-size: 28px;
  padding-bottom: 10px;
}
.slide__promo-deskription {
  font-size: 18px;
  padding-left: 10px;
  padding-bottom: 20px;
}
.slide--oldpeople {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  min-height: 350px;
}
.slide--oldpeople .slide__part--text {
  position: relative;
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  z-index: 10;
  padding-top: 5px;
}
.slide--oldpeople .slide__title {
  text-align: left;
}
.slide--oldpeople .slide__part--img {
  margin-bottom: 30px;
  z-index: 1;
  top: 0;
  opacity: 0.3;
  left: 130px;
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.slide .slide__part-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.slide .slide__part-wrap .slide__btn-container {
  margin: 0;
}
.slide .slide__photo-right {
  width: 100%;
  display: block;
}
}

@media (min-width: 1200px) {
.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.slide__part {
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  width: 33%;
  font-size: 36px;
}
.slide__part--redblock {
  width: 262px;
  margin: 0;
  margin-left: 40px;
}
.slide__part--text {
  padding: 0;
  width: 450px;
}
.slide__part--img {
  position: relative;
  width: 302px;
  -webkit-transform: none;
  transform: none;
  margin-top: -21px;
  left: auto;
  top: auto;
}
.slide__part .slide__title {
  text-align: left;
}
.slide__part .slide__promo-deskription {
  padding-left: 0;
}
.slide__btn-container {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-top: 0;
}
.slide--oldpeople {
  padding-top: 44px;
  height: 350px;
  padding-bottom: 0;
}
.slide--oldpeople .slide__part--img {
  display: block;
  -webkit-transform: none;
  transform: none;
  opacity: 1;
  left: auto;
  margin: 0;
  position: relative;
}
.slide--oldpeople .slide__photo {
  width: 494px;
  height: 329px;
  position: absolute;
  left: 0;
  top: -23px;
  max-width: 494px;
}
.slide--oldpeople .slide__part-wrap {
  width: 24%;
}
.slide--oldpeople .slide__part-wrap .slide__part {
  width: 100%;
}
.slide--oldpeople .slide__part-wrap .slide__photo-right {
  display: block;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
}
.footer__container-info {
  background-color: rgba(51, 51, 51, 0.85);
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer__company-info {
  color: #ffffff;
  text-align: center;
}
.footer__call-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
.footer__call-link {
  color: #ffffff;
  text-decoration: none;
}
.footer__call-link:hover {
  color: #ffffff;
  text-decoration: underline;
}
.footer__email {
  color: #ffffff;
}
.footer__container-menu {
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d496d6), color-stop(#b975bc), color-stop(#9d55a3), to(#82348a));
  background-image: linear-gradient(to bottom, #d496d6, #b975bc, #9d55a3, #82348a);
}
.footer__nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 10px;
}
.footer__nav-item {
  font-family: "Helvetica Neue", "Arial", "sans-serif";
  padding: 10px;
  width: 50%;
  font-size: 13px;
}
.footer__nav-link {
  color: #ffffff;
}
.footer__container-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  padding-top: 20px;
  padding-bottom: 20px;
  -ms-flex-item-align: center;
  align-self: center;
}
.footer__social__item {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  margin-right: 20px;
}
.footer__flamp-link {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.formexpert-container {
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
.formexpert {
  font-weight: 600;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(deepskyblue), color-stop(blue), color-stop(darkviolet), color-stop(red), color-stop(orange), color-stop(green), color-stop(blue), color-stop(indigo), to(violet));
  background-image: linear-gradient(to right, deepskyblue, blue, darkviolet, red, orange, green, blue, indigo, violet);
}

@media (min-width: 768px) {
.footer {
  background: url("https://gedeon-ekb.ru/templates/gedeon/img/footer.png") repeat-y center top;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__container-info {
  width: 28%;
  text-align: left;
}
.footer__container-menu {
  width: 72%;
  background-image: none;
  padding-left: 10px;
}
.footer__call-container {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.footer__call-link {
  padding-right: 7px;
}
.footer__company-info {
  text-align: left;
  font-size: 12px;
}
.footer__address {
  padding: 0;
  margin: 0;
}
.footer__call-container {
  text-align: left;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}
.footer__nav-list {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-left: 0;
}
.footer__nav-item {
  width: 33%;
  padding: 0;
  padding-bottom: 5px;
}
.footer__nav-link {
  font-size: 12px;
}
.footer__container-bottom {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.formexpert-container {
  -ms-flex-item-align: center;
  align-self: center;
  width: 100px;
}
.footer__social__item {
  width: 30px;
  height: 30px;
}
.footer__flamp-link {
  padding-top: 24px;
}
}

@media (min-width: 1200px) {
.footer__container-info {
  width: 32%;
}
.footer__container-menu {
  width: 68%;
  padding-left: 40px;
}
.footer__company-info {
  font-size: 12px;
  padding-right: 20px;
  padding-left: 120px;
}
.footer__nav-list {
  width: 580px;
}
.footer__nav-item {
  width: 25%;
}
.formexpert-container {
  width: 200px;
}
.footer__social-list {
  padding-bottom: 0;
}
.footer__flamp-link {
  padding-bottom: 0;
}
.footer__social__item {
  width: 40px;
  height: 40px;
}
.formexpert-container {
  width: 150px;
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-left: auto;
  margin-right: 0;
  font-size: 12px;
  color: #ffffff;
}
}
.slider--bestbuy {
  background-image: url("../img/bg-bestbuy.png");
  background-repeat: no-repeat;
  background-position: top center;
  height: 350px;
}
.slide--bestbuy {
  position: relative;
}
.slide--bestbuy .slide__photo {
  width: 70px;
  height: 70px;
  position: absolute;
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
  right: 70px;
  top: 195px;
  opacity: 1;
}
.slide--bestbuy .slide__part-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.slide--bestbuy .slide__title {
  text-align: left;
}
.slide--bestbuy .slide__title-dec {
  font-weight: 500;
}
.slide--bestbuy .slide__promo-deskription {
  padding-right: 20px;
}
.slide--bestbuy .slide__promo-subtext {
  font-size: 12px;
}
.slide--bestbuy .slide__photo-right {
  width: 100px;
  margin-right: 100px;
}

@media (min-width: 768px) {
.slide--bestbuy .slide__photo {
  position: relative;
  right: 0;
  top: 0;
}
.slide--bestbuy .slide__part--img {
  position: absolute;
  width: 100px;
  height: 50px;
  -webkit-transform: none;
  transform: none;
}
.slide--bestbuy .slide__photo {
  opacity: 1;
  width: 100px;
  height: 100px;
  left: 160px;
}
.slide--bestbuy .slide__promo-subtext {
  margin-top: 110px;
}
.slide--bestbuy .slide__photo-right {
  width: 100%;
  margin: auto;
}
}

@media (min-width: 1200px) {
.slide--bestbuy .slide__part--img {
  display: block;
  position: relative;
  width: auto;
  height: auto;
  margin: 0;
}
.slide--bestbuy .slide__photo {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  width: 282px;
  height: 278px;
}
.slide--bestbuy .slide__promo-subtext {
  margin-top: 0;
}
.slide--bestbuy .slide__part-wrap {
  width: 25%;
}
.slide--bestbuy .slide__part-wrap .slide__part {
  width: 100%;
}
}
li .slider {
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #fefdfd;
  height: 344px;
}
.slider--msd {
  padding-top: 30px;
  background-image: url("/img/bg-msd.png");
  background-repeat: no-repeat;
  background-position: top center;
}
.slide__container {
  position: relative;
}
.slide__title-left {
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: #F50000;
  color: #ffffff;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  font-weight: 400;
}
.slide__block-logo {
  position: absolute;
  opacity: 0.3;
  top: -20px;
  left: -20px;
}
.slide__block-logo img {
  width: 100px;
  height: 100px;
}
.slide__title {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Arial", "sans-serif";
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
  color: #F50000;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.slide__subtitle {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Arial", "sans-serif";
  color: #007D72;
  font-size: 14px;
  padding-bottom: 20px;
}
.slide__list {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-top: 10px;
  padding-bottom: 30px;
}
.slide__list-item {
  font-family: "Helvetica Neue", "Arial", "sans-serif";
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  padding-left: 10px;
  position: relative;
}
.slide__list-item::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  left: -30px;
  top: 0px;
  background-image: url("../img/list-icon.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
.slide__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}
.slide__title-left {
  font-size: 30px;
}
.slide__block-logo {
  opacity: 1;
  top: 100px;
  left: -10px;
}
.slide__block-logo img {
  width: 193px;
  height: 193px;
}
.slide__title {
  font-size: 30px;
}
.slide__subtitle {
  font-size: 20px;
  padding-bottom: 20px;
}
.slide__list-item {
  font-size: 16px;
}
.slide__list-item::before {
  width: 15px;
  height: 15px;
  left: -10px;
}
}

@media (min-width: 1200px) {
.slide__container {
  width: 830px;
  margin-left: auto;
  margin-right: auto;
}
.slide__title {
  text-align: left;
}
.slide__subtitle {
  text-align: left;
  font-size: 26px;
}
.slide__list-item {
  font-size: 20px;
}
.slide__list {
  padding-left: 20px;
}
.slide__block-logo {
  top: 60px;
}
.slide__list-item::before {
  width: 19px;
  height: 19px;
  left: -30px;
  top: 0;
}
}
